%span.btn.btn-xs.btn-success.glyphicon.glyphicon-ok{data: {ng_if: "!roll.show_delete"}}
%span.btn.btn-xs.btn-danger.glyphicon.glyphicon-remove{data: {ng_click: "vm.deleteRoll(roll.id, textile)", ng_if: "roll.show_delete && !order"}}
%label.label-warning{data: {ng_if: "!textile.code"}} {{roll.code}}
.label.label-danger {{roll.suffix || "_" | uppercase}}
.label.label-success Remain: {{roll.left | number : 2}} m
.label.label-info Location: {{roll.location || "undefined"}}
.badge Arrival: {{roll.arrival_date}}
.badge Total: {{roll.total | number : 2}} m
%span{data: {ng_if: "roll.comment"}} Comment: "{{roll.comment}}"
%span{data: {ng_if: "roll.info"}} Info: "{{roll.info}}"
