%select{data: {ng_model: "language", ng_change: "setLang()"}}
  %option{value: "en"} EN
  %option{value: "ua"} UA
  %option{value: "ru"} RU
%form{name: "orderForm", role: "form", novalidate: true, data: {ng_submit: "addOrder()"}}
  .btn-group.btn-group-justified
    .btn-group
      %button.btn.btn-default.text-capitalize{type: "button", data: {ui_sref: "textiles"}} {{'close form' | translate : language}}
    .btn-group
      %button.btn.btn-info.text-capitalize{type: "button", data: {ng_click: "resetForm()"}} {{'reset form' | translate : language}}
    .btn-group
      %button.btn.btn-success.text-capitalize{type: "submit", form: "orderForm", data: {ng_disabled: "orderForm.$invalid"}} {{'place order' | translate : language}}
  .row
    .col-xs-3
      .form-group.has-feedback{data: {ng_class: "orderForm.number.$valid ? 'has-success': 'has-error'"}}
        %label.text-capitalize{for: "number"} {{'order number' | translate : language}}:
        %input.form-control{name: "number", type: "text", placeholder: "{{'Number' | translate : language}}", required: true, data: {ng_model: "order.number", ng_change: "order.number = order.number.toLowerCase()"}}/
        %span.form-control-feedback.glyphicon{data: {ng_class: "orderForm.number.$valid ? 'glyphicon-ok': 'glyphicon-remove'"}}
    .col-xs-3
      .form-group.has-feedback{data: {ng_class: "orderForm.order_date.$valid ? 'has-success': 'has-error'"}}
        %label{for: "order_date"} Order Date:
        %input.form-control{name: "order_date", type: "text", placeholder: "Order Date (dd-mm-yyyy)", required: true, data: {ng_model: "order.order_date"}}/
        %span.form-control-feedback.glyphicon{data: {ng_class: "orderForm.order_date.$valid ? 'glyphicon-ok': 'glyphicon-remove'"}}
    .col-xs-6
      .form-group.has-feedback{data: {ng_class: "orderForm.customer.$valid ? 'has-success': 'has-error'"}}
        %label{for: "customer"} Customer:
        %input.form-control{name: "customer", type: "text", placeholder: "Customer's Name", required: true, autofocus: true, data: {ng_model: "order.customer"}}/
        %span.form-control-feedback.glyphicon{data: {ng_class: "orderForm.customer.$valid ? 'glyphicon-ok': 'glyphicon-remove'"}}
  .row
    .col-xs-6
      .form-group.has-feedback{data: {ng_class: "orderForm.order_comment.$valid ? 'has-success': 'has-error'"}}
        %label{for: "order_comment"} Comment:
        %textarea.form-control{name: "order_comment", type: "text", rows: "4", style: "resize: none;", placeholder: "Comments goes here ...", data: {ng_model: "order.order_comment"}}
        %span.form-control-feedback.glyphicon{data: {ng_class: "orderForm.order_comment.$valid ? 'glyphicon-ok': 'glyphicon-remove'"}}
    .col-xs-3
      .form-group.has-feedback{data: {ng_class: "orderForm.customer_phone.$valid ? 'has-success': 'has-error'"}}
        %label{for: "customer_phone"} Phone Number:
        %input.form-control{name: "customer_phone", type: "text", placeholder: "Customer's Phone Number", data: {ng_model: "order.customer_phone"}}/
        %span.form-control-feedback.glyphicon{data: {ng_class: "orderForm.customer_phone.$valid ? 'glyphicon-ok': 'glyphicon-remove'"}}
    .col-xs-3
      .form-group{data: {ng_class: "orderForm.status.$valid ? 'has-success': 'has-error'"}}
        %label{for: "status"} Status:
        %select.form-control.text-capitalize{name: "status", data: {ng_model: "order.status", ng_options: "status for status in statuses"}}
    .col-xs-2
      .form-group.has-feedback{data: {ng_class: "orderForm.prepay.$valid ? 'has-success': 'has-error'"}}
        %label{for: "prepay"} Prepay Amount (UAH):
        %input.form-control{name: "prepay", type: "number", min: "0", placeholder: "Prepay Amount (eq. UAH 100.00)", data: {ng_model: "order.prepay", ng_blur: "order.prepay > 0 ? order.status = 'prepaid' : ''"}}/
        %span.form-control-feedback.glyphicon{data: {ng_class: "orderForm.prepay.$valid ? 'glyphicon-ok': 'glyphicon-remove'"}}
    .col-xs-2
      .form-group.has-feedback{data: {ng_class: "orderForm.discount.$valid ? 'has-success': 'has-error'"}}
        %label{for: "discount"} Discount (UAH):
        %input.form-control{name: "discount", type: "number", min: "0", placeholder: "Discount Amount (in UAH, eq. 100.00)", data: {ng_model: "order.discount", ng_change: "checkDiscount()"}}/
        %span.form-control-feedback.glyphicon{data: {ng_class: "orderForm.discount.$valid ? 'glyphicon-ok': 'glyphicon-remove'"}}
    .col-xs-2
      .form-group
        %label.text-capitalize {{'total amount' | translate : language}}:
        %b
          %p.form-control-static {{total | currency : 'UAH ' : 2}}
  .btn-group.btn-group-justified{data: {ng_if: "addForm.visible"}}
    .btn-group
      %button.btn.btn-lg.btn-primary.text-capitalize{type: "button", data: {ng_click: "addForm.visible = false"}} {{'close add form' | translate : language}}
  .btn-group.btn-group-justified{data: {ng_if: "!addForm.visible"}}
    .btn-group
      %button.btn.btn-lg.btn-primary.text-capitalize{type: "button", data: {ng_click: "addItem()"}} {{'add item' | translate : language}}
    .btn-group{data: {ng_if: "order.order_items.length > 0"}}
      %button.btn.btn-lg.btn-warning.text-capitalize{type: "button", data: {ng_click: "removeItem()"}} {{'remove selected' | translate : language}}
    .btn-group{data: {ng_if: "order.order_items.length > 0"}}
      %button.btn.btn-lg.btn-danger.text-capitalize{type: "button", data: {ng_click: "clearItems()"}} {{'remove all' | translate : language}}
%ui-view{name: "searchForm", data: {ng_if: "addForm.visible"}}
.row.list-group
  .col-xs-12
    .list-group-item{data: {ng_include: "'order_items/_order_item.html'", ng_repeat: "order_item in order.order_items"}}
