%form{name: "orderForm", role: "form", novalidate: true, data: {ng_submit: "addOrder()"}}
  .btn-group.btn-group-justified
    .btn-group
      %button.btn.btn-default{type: "button", data: {ui_sref: "orders"}} Close Form
    .btn-group
      %button.btn.btn-info{type: "button", data: {ng_click: "resetForm()"}} Reset Form
    .btn-group
      %button.btn.btn-success{type: "submit", data: {ng_disabled: "orderForm.$invalid"}} Place Order
  .row
    .col-xs-8
      .row
        .col-xs-2
          .form-group.has-feedback{'show-validation': true}
            %label{for: "number"} Order Number:
            %input.form-control{name: "number", type: "text", placeholder: "Number", required: true, data: {ng_model: "order.number", ng_change: "order.number = order.number.toLowerCase()"}}/
            %span.form-control-feedback.glyphicon
        .col-xs-3
          .form-group.has-feedback{'show-validation': true}
            %label{for: "customer_phone"} Phone Number:
            %input.form-control{name: "customer_phone", type: "text", autofocus: true, 'select-on-click': true, placeholder: "Customer's Phone", data: {ng_model: "order.customer_phone"}}/
            %span.form-control-feedback.glyphicon
        .col-xs-2
          .form-group.has-feedback{'show-validation': true}
            %label{for: "prepay"} Prepay, &#8372:
            %input.form-control{name: "prepay", type: "number", min: "0", placeholder: "Prepay Amount (eq. UAH 100.00)", 'select-on-click': true, data: {ng_model: "order.prepay", ng_blur: "checkStatus()"}}/
            %span.form-control-feedback.glyphicon
        .col-xs-3
          .form-group.has-feedback{'show-validation': true}
            %label{for: "order_date"} Order Date:
            %input.form-control{name: "order_date", type: "text", placeholder: "Order Date (dd-mm-yyyy)", required: true, data: {ng_model: "order.order_date"}}/
            %span.form-control-feedback.glyphicon
        .col-xs-2
          .form-group{'show-validation': true}
            %label{for: "status"} Status:
            %select.form-control.text-capitalize{name: "status", data: {ng_model: "order.status", ng_options: "status for status in statuses"}}
      .row
        .col-xs-7
          .form-group.has-feedback{'show-validation': true}
            %label{for: "customer"} Customer:
            %input.form-control{name: "customer", type: "text", placeholder: "Customer's Name", required: true, 'select-on-click': true, data: {ng_model: "order.customer"}}/
            %span.form-control-feedback.glyphicon
        .col-xs-3
          .form-group.has-feedback{'show-validation': true}
            %label{for: "discount"} Discount, &#8372:
            %input.form-control{name: "discount", type: "number", min: "0", placeholder: "Discount Amount (in UAH, eq. 100.00)", 'select-on-click': true, data: {ng_model: "order.discount", ng_change: "checkDiscount()"}}/
            %span.form-control-feedback.glyphicon
        .col-xs-2
          .form-group
            %label Total, &#8372:
            %b
              %p.form-control-static {{(total - order.discount) | currency : '' : 2}}
    .col-xs-4
      .form-group
        %label{for: "order_comment"} Comment:
        %textarea.form-control{name: "order_comment", type: "text", rows: "4", style: "resize: none;", placeholder: "Comment goes here ...", data: {ng_model: "order.order_comment"}}
  .row
  .btn-group.btn-group-justified
    .btn-group
      %button.btn.btn-lg.btn-primary{type: "button", data: {ng_click: "addItem()"}} Add Item
    .btn-group{data: {ng_if: "order.order_items.length > 0"}}
      %button.btn.btn-lg.btn-warning{type: "button", data: {ng_click: "removeItem()"}} Remove Selected
    .btn-group{data: {ng_if: "order.order_items.length > 0"}}
      %button.btn.btn-lg.btn-danger{type: "button", data: {ng_click: "clearItems()"}} Remove All
  .row.list-group
    .col-xs-12
      .list-group-item.text-center
        .row
          %b.col-xs-4 Name and code
          %b.col-xs-4 Additional information
          .col-xs-3
            .row
              %b.col-xs-6 Price, &#8372/(m or unit)
              %b.col-xs-6 Amount, m or unit
          %b.col-xs-1 Subtotal, &#8372
      .list-group-item{data: {ng_include: "'order_items/_order_item.html'", ng_repeat: "order_item in order.order_items"}}
