%span.col-xs-1 {{order.number}}
%span.col-xs-1 {{order.order_date}}
%span.col-xs-1 {{order.customer}}
%span.col-xs-1 {{order.customer_phone}}
%span.col-xs-1 {{order.prepay}}
%span.col-xs-1 {{order.discount}}
%span.col-xs-1 {{order.total - order.prepay}}
%span.col-xs-1 {{order.total}}
%span.col-xs-1 {{order.status}}
%span.col-xs-1 {{order.order_comment}}
