.panel-heading
  %a.label-warning{href: "#/textiles/{{textile.id}}"} {{textile.code}}
  %span "{{textile.name}}"
  .badge ({{textile.manufacturer}}-{{textile.man_code}}, {{textile.country}})
  .label.label-success {{textile.height}} cm
  .label.label-danger {{textile.price | currency : 'UAH-'}}
  .badge Roll count:{{textile.rolls.length}}
  .btn.btn-xs.btn-success{data: {ng_if: "!roll.textile_id && !order", ng_click: "resetForm(textile)"}} New Roll
.panel-body
  .panel.panel-danger{data: {ng_if: "textile.new && !order", ng_include: "'views/rolls/_form.html'"}}
  .list-group
    .list-group-item{data: {ng_include: "'views/rolls/_roll.html'",
    ng_repeat: "roll in textile.rolls | orderBy : 'suffix'",
    ng_if: "roll.suffix === obj.suffix || obj.suffix === '*'",
    ng_mouseenter: "roll.show_delete = true",
    ng_mouseleave: "roll.show_delete = false",
    ng_class: "{'active': roll.show_delete}",
    ng_click: "selectRoll(roll.id, textile.price, textile.name, roll.left, roll.suffix, textile.code)"}}
