%tabset{justified: "true"}
  %tab{heading: "All Receipts"}
    .list-group
      .list-group-item{data: {ng_if: "receipt.store_receipt", ng_repeat: "receipt in vm.order_items"}}
        .row
          %span.col-xs-1.text-uppercase {{receipt.code + receipt.suffix}}
          %span.col-xs-2 {{receipt.name}}
          %span.col-xs-1 # {{receipt.order}}
          %span.col-xs-1 {{receipt.store_receipt.receipt_date}}
          %span.col-xs-1 {{receipt.amount_ordered}}
          %span.col-xs-1 {{receipt.store_receipt.receipt_amount}}
          %span.col-xs-1 {{receipt.price_sold}}
          %span.col-xs-1 {{receipt.status}}
          %span.col-xs-2 {{receipt.item_comment}}
  %tab{heading: "Add Receipt"}
    .list-group
      .list-group-item{data: {ng_if: "!item.store_receipt", ng_repeat: "item in vm.order_items"}}
        .row
          %span.col-xs-1.text-uppercase {{item.code + item.suffix}}
          %span.col-xs-2 {{item.name}}
          %span.col-xs-1 # {{item.order}}
          %span.col-xs-1 {{item.store_receipt.receipt_date}}
          %span.col-xs-1 {{item.amount_ordered}}
          %span.col-xs-1 {{item.store_receipt.receipt_amount}}
          %span.col-xs-1 {{item.price_sold}}
          %span.col-xs-1 {{item.status}}
          %span.col-xs-2 {{item.item_comment}}
