.row
  .col-xs-4
    %input{type: "checkbox", data: {ng_model: "order_item.selected"}}
    %span.label.label-success.text-uppercase {{order_item.code + (order_item.suffix ? ('"' + order_item.suffix + '"') : '')}}
    %u
      %b {{order_item.name}}
  .col-xs-4
    %input.col-xs-12.form-control{placeholder: "Additional information", data: {ng_model: "order_item.item_comment"}}
  .col-xs-3
    .row
      .col-xs-6
        .form-group.has-feedback{'show-validation': true}
          %input.col-xs-12.form-control{type: "number", 'dynamic-name': "price + ($index + 1)", required: true, min: "0", data: {ng_model: "order_item.price_sold", ng_change: "updateTotal()"}}/
          %span.form-control-feedback.glyphicon
      .col-xs-6
        .form-group.has-feedback{'show-validation': true}
          %input.col-xs-12.form-control{type: "number", 'dynamic-name': "amount + ($index + 1)", required: true, min: "0", max: "{{order_item.left}}", data: {ng_model: "order_item.amount_ordered", ng_change: "callFunc()"}}/
          %span.form-control-feedback.glyphicon
  .col-xs-1
    %b {{(order_item.price_sold * order_item.amount_ordered) | currency : '&#8372 ' : 2}}
